body{
    margin: 0;
}

/*Contenitore*/
.contenitore{
    background-image: url(../img/pattern.png);
    background-color:#4ea0ff;
    height: 180px;
}

#logo{
    width: 399px;  
    margin-top: 60px;
}
/*Contenitore Fine*/

/*Titolo e autore e data*/
#titolo{
    font-size: 3em;
}

#autore{
    color:#2dade6;
}

.descrizione{
    color: #838383;
}

/*Paragrafo*/
.paragrafo{
    font-size: larger;
}
/*Paragrafo Fine*/