body{
    margin: 0;
}

.contenitore{
    background-image: url(../img/pattern.png);
    background-color:#4ea0ff;
    height: 180px;
}

#logo{
    height: 140;
    width: 399px;  
}

/*Titolo e autore*/
#titolo{
    font-size: 3em;
   
}

#autore{
    color:#2dade6;

}

